<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidthings.lantern">
    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Required for Cast connections -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required to set screen DPI -->
    <uses-permission android:name="com.google.android.things.permission.MODIFY_SCREEN_SETTINGS" />

    <!-- Required for LaunchActivity to reboot when in the wrong resolution -->
    <uses-permission android:name="com.google.android.things.permission.REBOOT" />
    
    <application
        android:name=".App"
        android:theme="@style/Theme.Lantern.Black">

        <uses-library android:name="com.google.android.things" />
        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>